---
import type { GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import { createDescription } from '../lib/post'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection('blog')

  const data: { params: { id: string }; props: any }[] = allPosts.map((post) => {
    return {
      params: { id: post.id },
      props: { post }
    }
  })

  return paginate(data, { pageSize: 1 })
}

const allPosts = await getCollection('blog')

const showPosts: (typeof allPosts[number] & { description: string })[] = []
for (let i = allPosts.length - 1; i >= 0; i--) {
  const post = allPosts[i]
  showPosts.push({
    ...post,
    description: await createDescription(post)
  })
}

---

<Layout
  title="kohsweblog"
  description="気になった技術などをまとめていくブログです。"
  content="website"
  path=""
>
  <main>
    <header>
      <h1><a href="/">kohsweblog</a></h1>
      <h4>気になった技術などをまとめていくブログです。</h4>
    </header>
    <div>
      {showPosts.map((post) => (
        <div class="post">
          <h3><a href={`/${post.slug}`}>{post.data.title}</a></h3>
          <small><date>{post.data.date}</date></small>
          <p>{post.description}</p>
        </div>
      ))}
    </div>
    <Footer />
  </main>
</Layout>

<style>
header a {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
}
.post {
  margin: 2em 0 0 0;
}
h3 {
  margin: 1em 0 0.5em 0;
  padding: 0;
}
</style>
