---

---

<footer>
  © {new Date().getFullYear()},
  <a href="https://koh.dev" target="_blank">
    kohsweb
  </a>
</footer>

<style>
footer {
  margin: 2em 0 0 0;
  padding: 1em 0 1em 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
</style>
